* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
header {
    background-color: #636bda;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 7px;
    padding-top: 1%;
  }

header figure{
    display: flex;
    align-items: center;
    padding-left: 35px;
}

header figure img { /*LOGO*/
    width: 40%;
    padding-right: 10px;
  }

.header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    padding-right: 35px;
}

.header-buttons {
  display: flex;
  justify-content: center;
  margin-right: 50px;
  gap: 10px;
}

.header-btn {
  text-decoration: none;
  padding: 10px 10px;
  font-size: 1em;
  color: #ffffff;
  background-color: #636bda;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.header-btn:hover {
  background-color: #3e459e;
}

/*MAIN*/

/*Sessão de introdução*/

.sessao1-img {
  padding: 25px;
}

.titulo1 {
  margin-left: 50px;
}

.sessao1-section {
  text-align: center;
  background-color: #ffffff;
  background-image: url(assets/maos.png);
  padding: 100px 25px;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.sessao1-text {
  max-width: 800px; 
  margin: 0 auto; 
}

.sessao1-text h1 {
  margin-bottom: 10px;
  font-size: 2.5em;
  color: #313131;
}

.sessao1-text p {
  margin-bottom: 20px;
  font-size: 1.4em;
  color: #5e5d5d;
}

body, textarea {
  font-family: sans-serif;
}

/*Sessão de catálogo de doações*/

main h2{
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 1.8em;
  color: #313131;
}

/* CAROUSSEL | CARDS */

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  width: 80%;
  overflow: hidden;
}

.cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  flex: 0 0 25%; /* Exibe 4 cards por vez */
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
}

.card img {
  max-width: 100%;
  height: 200px;
  margin-bottom: 15px;
}

.card-button{
  display: flex;
  width: 120px;
  margin-left: 50px;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #636bda;
  border-radius: 10%;
  font-size: 0.9em;
  font-weight: bold;
  transition: background-color 0.5s;
}

.card-button:hover {
  background-color: #3e459e;
}

.card h3{
  margin-bottom: 10px;
}
.card p{
  margin-bottom: 20px;
}

.prev-btn, .next-btn {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}




/*Sessão de sugestões*/
.sessao4{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.titulo2 {
  margin-bottom: -30px;
  margin-left: 50px;
}

.formBox{
  display: flex;
  flex-direction: column;
  background-color: #bdbdbd;
  border-radius: 8px;
  width: 700px;
}

.formBox .tipoProjeto {
  margin-left: 16px;
  margin-bottom: 10px;
  font-size: 1em;
}

.formBox form{
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  padding: 32px;
}

.formBox input, .formBox textarea, .formBox select{
  width: calc(54% - 50px);
  height: 38px;
  border-radius: 8px;
  border: thin solid #999;
  margin-left: 16px;
  margin-bottom: 16px;
  font-size: 16px;
}

.formBox input:first-child{
  margin-right: 16px;
}

.formBox select{
  width: 100%;
}

.formBox textarea{
  width: 100%;
  height: 180px;
  padding: 16px;
  resize: none;
}

.formBox button{
  display: block;
  border: none;
  outline: none;
  margin-left: 18px;
  width: 180px;
  height: 38px;
  border-radius: 8px;
  background-color: #636bda;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s;
}

.formBox button:hover{
  background-color:  #3e459e;
}


/*
POPUP DE CONFIRMAÇÃO

possui atributos para manter o popup inicialmento oculto(alterado pelo método em javascript),
centralizar na tela,
definir altura e largura,
adicionar rolagem,
tornar o fundo translucido
além de padronizar as cores, formatos do conteudo e botão de fechar a tela.
*/
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  height: 100%; 
  width: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.3); 
}

.modal-content {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #636bda;
  color: white;
  margin: 15% auto; 
  max-width: 500px;
}

.fechar {
  color: #ffffff;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.fechar:hover,
.fechar:focus {
  color: rgb(167, 165, 165);
  cursor: pointer;
}

/*Footer*/

footer{
  background-color: #636bda;
}

footer .rodape{
  display: flex;
  color: white;
}

.redesSociais img{
  width: 30px;
  margin-right: 10px;
}

.redesSociais a{
  text-decoration: none;
  color: inherit;
}

footer .rodape ul{
  width: 25%;
  margin-top: 30px;
  margin-left: 35px;
  margin-right: 60px;
}

footer ul li a{
  list-style-type: none;
  text-decoration: none;
  color: white;
  line-height: 25px;
}

footer ul li p {
  margin-bottom: 15px;
}

footer ul li {
  list-style-type: none;
}

footer .rodape ul > p {
  margin-bottom: 40px;
}

footer .rodape h3{
  margin-bottom: 16px;
  font-weight: 600;
}

/*Inicio tela Login*/

.telaLogin {
  font-family: sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #313131;
}

.divLogin {
  background-color: #636bda;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

.formLogin h2 {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #ffffff;
}

.formLogin input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: thin solid #999;
  font-size: 16px;
}

.formLogin input[type="submit"] {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #8b60dd;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s;
}

.formLogin input[type="submit"]:hover {
  background-color: #571fc0;
}


.formLogin a {
  display: block;
  margin-top: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.formLogin a:hover {
  text-decoration: underline;
}


/*Fim tela Login*/

/*Inicio tela Cadastro*/

.telaCadastro {
  font-family: sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #313131;
}

.divCadastro {
  background-color: #636bda;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

.formCadastro h2 {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #ffffff;
}

.divInputs{
  position: relative;
  margin-bottom: 20px;
}

.formCadastro input[type="text"],
.formCadastro input[type="tel"],
.formCadastro input[type="password"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  border: thin solid #999;
  outline: none;
  font-size: 16px;
}

.span-required{
  display: none;
  font-size: 12px;
  margin: 2px 0 0 0;
  color: #ffffff;
  position: absolute;
  top: calc(93% + 3px);
}

.formCadastro input[type="submit"] {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #8b60dd;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s;
}

.formCadastro input[type="submit"]:hover {
  background-color: #571fc0;
}

.formCadastro a{
  width: 100%;
  display: inline-block;
  padding: 10px;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  background-color: #8b60dd;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s;
}

.formCadastro a:hover {
  background-color: #571fc0;
}

/*Fim tela Cadastro*/

@media (max-width: 1020px) {

  header{
    flex-direction: row;
    align-items: center;
    height: 90px;
  }

  header nav ul{
    padding-right: 0;
    justify-content: center;
    width: 100%;
  }

  header figure {
    padding-left: 0;
  }

  .header-center {
    position: static;
    transform: none;
    margin-top: 10px;
  }

  .header-center .nomeSite{
    display: none;
  }

  .sessao1-section {
  text-align: center;
  background-color: #ffffff;
  background-image: none;
  padding: 100px 25px;
  background-repeat: no-repeat;
  border-radius: 10px;
  }

  .titulo1{
    align-items: center;
    font-size: 20px;
  }

  .titulo2{
    align-items: center;
    font-size: 20px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    max-width: none;
  }


  footer .rodape{
    flex-direction: column;
    align-items: center;
  }

  footer .rodape ul p {
    max-width: 200px;
    white-space: break-word;
  }

  footer .rodape ul{
    width: 45%;
    margin-bottom: 30px;
  }
}