* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
header {
    background-color: #636bda;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 13px;
    padding-top: 1%;
  }
header figure{
    display: flex;
    align-items: center;
    padding-left: 35px;
}
header figure img { /*LOGO*/
    width: 50%;
    padding-right: 10px;
  }
header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    padding-right: 35px;
}
header nav ul li a {/*distancia entre os icones de redes*/
    padding: 13px;
}
header nav ul li a img{/*icones de redes*/
    width: 43px;
}

/*MAIN*/

.sessao1 img {
  padding: 25px;
}
.sessao1 {
  margin-top: 50px;
  background-image: url(assets/maos.png);
  height: 50vh;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: 25vh;
  color: black;
}
.sessao1 section {
  padding-top: 100px;
  font-size: x-large;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 24%;
}

body, textarea {
  font-family: sans-serif;
}

.sessao4{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.formBox{
  display: flex;
  flex-direction: column;
  background-color: #969cee;
  border-radius: 8px;
  width: 700px;
}

.formBox .titulo{
  padding: 24px 32px;
  font-size: 24px;
  border-bottom: thin solid #ccc;
}

.formBox form{
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  padding: 32px;
}

.formBox input, .formBox textarea, .formBox select{
  width: calc(50% - 50px);
  height: 38px;
  border-radius: 8px;
  border: thin solid #999;
  margin-left: 16px;
  margin-bottom: 16px;
  font-size: 16px;
}

.formBox input:first-child{
  margin-right: 16px;
}

.formBox select{
  width: 100%;
}

.formBox textarea{
  width: 100%;
  height: 180px;
  padding: 16px;
  resize: none;
}

.formBox button{
  display: block;
  border: none;
  outline: none;
  margin-left: 18px;
  width: 180px;
  height: 38px;
  border-radius: 8px;
  background-color: #8b60dd;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.formBox button:hover{
  background-color:  #571fc0;
}

/*FOOTER*/

footer{
  background-color: #636bda;
}

footer .rodape{
  display: flex;
  color: white;
}

.redesSociais img{
  width: 30px;
  margin-right: 10px;
}

footer .rodape ul{
  width: 25%;
  margin-top: 30px;
  margin-left: 35px;
  margin-right: 60px;
}

footer ul li a{
  list-style-type: none;
  text-decoration: none;
  color: white;
  line-height: 25px;
}

footer ul li p {
  margin-bottom: 15px;
}

footer ul li {
  list-style-type: none;
}

footer .rodape ul > p {
  margin-bottom: 40px;
}

footer .rodape h3{
  margin-bottom: 16px;
  font-weight: 600;
}

@media (max-width: 960px) {

  footer .rodape{
    flex-direction: column;
  }

  footer .rodape ul p {
    max-width: 200px;
    white-space: break-word;
  }

  footer .rodape ul{
    width: 100%;
    margin-bottom: 30px;
  }
}